<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Preencha os campos para filtrar</h4>
        <!-- <small class="font-bold">Justifique se necessário</small> -->
    </div>
    <div class="modal-body">
        <form name="formFilter">
            <div class="row">
            	<div class="col-md-12">
            		<h4>Modalidade</h4>
            		<hr>
            		<div class="row">
            			<div class="col-sm-12">
            				<select class="form-control" ng-options="obj.id as obj.descricao for obj in modalidades" ng-model="obj.modalidade"></select>
            			</div>
    				</div>
            		<h4>Valor</h4>
            		<hr>
            		<div class="row">
            			<div class="col-sm-6">
    						<label>A partir de</label><input class="form-control" type="tel" mascara-moeda name="valoracima" ng-model="obj.valoracima">
    					</div>
    					<div class="col-sm-6">
    						<label>Até</label><input class="form-control" type="tel" mascara-moeda name="valorabaixo" ng-model="obj.valorabaixo">
    					</div>
    				</div>
    				<hr>
    				<h4>Entrada</h4>
    				<hr>
            		<div class="row">
            			<div class="col-sm-6">
    						<label>A partir de</label><input class="form-control" type="tel" mascara-moeda name="entradaacima" ng-model="obj.entradaacima">
    					</div>
    					<div class="col-sm-6">
    						<label>Até</label><input class="form-control" type="tel" mascara-moeda name="entradaabaixo" ng-model="obj.entradaabaixo">
    					</div>
    				</div>
    				<hr>
    				<h4>Parcela</h4>
    				<hr>
            		<div class="row">
            			<div class="col-sm-6">
    						<label>A partir de</label><input class="form-control" type="tel" mascara-moeda name="parcelaacima" ng-model="obj.parcelaacima">
    					</div>
    					<div class="col-sm-6">
    						<label>Até</label><input class="form-control" type="tel" mascara-moeda name="parcelaabaixo" ng-model="obj.parcelaabaixo">
    					</div>
    				</div>
    			</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="ok(obj)">Filtrar</button>
    </div>
</div>