.notification {
    position: fixed;
    bottom: 20px;
    right: 25px;
    z-index: 100;
}
.notification a {
    height: 38px;
    width: 38px;
    display: block;
    background: #2196f3;
    padding: 9px 8px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.notification span {
    position: absolute;
    padding: 0 2px 0 2px;
    top: -3px;
    right: -4px;
    background-color: #f44336;
    color: #FFFFFF;
}
.title {
    background: #6b94c7;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 18px;
    position: relative;
    border-bottom: 1px solid #486e9e;
}
.title a {
    right: 15px;
    position: absolute;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.agendamentos {
    display: grid !important;
    grid-template-columns: auto !important;
}
.cliente-interesse {
    border: 1px solid #ddd;
    padding: 2px 10px 2px 10px;
}

@media (min-width: 1020px) {
    .agendamentos {
        display: grid !important;
        grid-template-columns: 50% 50% !important;
    }
}

@media (min-width: 1250px) {
}