.main-home .btn-topo {
    background: transparent;
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.main-home .btn-topo a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

@media (min-width: 1020px) {
    .agendamentos {
        display: grid !important;
        grid-template-columns: 50% 50% !important;
    }
}

@media (min-width: 1250px) {
}