.container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
}
.container .login-panel {
    max-width: 400px;
    flex:1;
    margin: 0 auto;
}

.container .login-panel .img {
    width: 80%;
    margin-left: 40px;
}

.container .login-panel .titulo {
    display: block;
    text-align: center;
    padding: 15px;
    margin-bottom:25px;
}

.container .login-panel .titulo h1 {
    font-weight: bold;
}
.container .login-panel .titulo small {
    font-size:16px;
}

.container .login-panel input {
    background: rgba(202, 75, 75, 0.17);
    border: 1px solid #fff;
    color: #fff;
}
.container .login-panel .inscreverse {
    display: block;
    text-align: center;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}