.container-login {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    min-height: 400px;
    padding: 15px;
}
.container-login .login-panel {
    max-width: 400px;
    flex:1;
    margin: 0 auto;
}

.container-login .login-panel .img {
    width: 80%;
    margin-left: 40px;
}

.container-login .login-panel .titulo {
    display: block;
    text-align: center;
    padding: 15px;
    margin-bottom:15px;
}

.container-login .login-panel .titulo h1 {
    font-weight: bold;
}
.container-login .login-panel .titulo small {
    font-size:16px;
}

.container-login .login-panel input {
    background: rgba(202, 75, 75, 0.048);
    /* background: transparent; */
    /* border: none; */
    border-bottom: 1px solid #fff;
    box-shadow: none;
    color: #fff;
}

.login-panel input::placeholder {
    color: #ffffff57;
}

.container-login .login-panel .inscreverse {
    display: block;
    text-align: center;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin-top: 20px;
}