body, html {
    padding:0;
    margin: 0;
}
body {
    background: url('../../libs/img/back.jpg') no-repeat;
    background-size: cover;
    height: 100vh !important;
    width: 100%;
    background-color: #9a9a9a;
    
}
.wrapper { 
    background: #2d388cb8; /*#8c2d2d;*/
    width: inherit;
    height: inherit;
    color: #fff;
    /* padding: 15px; */
    overflow: auto;
}

/* HEADER => */
header {
    background: #10244c;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    min-height: 40px;
    height: 40px;
    z-index: 2;
    display: block;
    /* border-bottom: 1px solid #ccc; */
    /* padding: 2px; */
    -webkit-box-shadow: 0px -1px 2px 3px rgba(0,0,0,0.42);
    -moz-box-shadow: 0px -1px 2px 3px rgba(0,0,0,0.42);
    box-shadow: 0px -1px 2px 3px rgba(0,0,0,0.42);
}

/* top-header inicio */
header .top-header {
    display: flex;
    width: 100%;
    height: 45px;
    max-height: 45px;
    background: #10244c;
    border-bottom: 1px solid #0b1a38;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.top-header .icone {
    color: #fff;
    max-width: 30%;
    width: 34px;
}
.top-header .titulo{
    color: #fff;
    text-decoration: none;
    flex:1;
    text-align: center;
    font-size: 16px;
}
.top-header .profile{
    max-width: 30%;
    display: flex;
    /* background: #142e56; */
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 5px;
}
.profile .nome-profile {
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}
.profile .imagem-profile{
    height: 30px;
    width: 30px;
    overflow: hidden;
    border-radius: 100px;
    cursor: pointer;
}
.imagem-profile img{
    max-height: 100%; /* obedecer a altura máxima do elmento pai */
}
/* top-header fim */

/* bottom-header inicio */
header .bottom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: inherit;
    height: 100vh;
    /* background: #193368; */
    background: #1933689b;
    position: relative;
    top: -100vh;
    z-index: -1;
    border-bottom: 1px solid #1c1e23;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

header .bottom-header-show {
    top:0;
}

.bottom-header .menu-titulo {
    padding: 10px 15px;
    z-index: 1;
    /* background: #233873; */
    /* display: flex; */
    /* justify-items: flex-end; */
    text-align: right;
    width: 100%;
}

.menu-titulo a {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.menu-titulo i {
    font-size: 35px;
}

.bottom-header .menu {
    /* width: 100%; */
    height: 320px;
    min-height: 320px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    overflow: overlay;
    /* padding: 20px; */
    /* position: absolute; */
}

.menu a {
    height: 150px;
    width: 150px;
    padding: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    text-decoration: none;
    cursor: pointer;
    /* flex: 1; */
    margin: 5px;
}

.menu a:hover {
    background: rgb(241, 84, 11);
    font-weight: bold;
}

.menu .active {
    background: #254c9b;
    border-bottom: 2px solid #346ddf;
}

.menu i {
    font-size: 55px;
}


.bottom-header .botao-menu {
    color: #fff;
    position: absolute;
    bottom: -18px;
    left: 0;
    right: 0;
    /* background: orange; */
    text-align: center;
    cursor: pointer;
}
.botao-menu i {
    background: #0b1a38;
    padding: 2px;
    width: 40px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.space {
    height: 65px;
}
.importante {
    color: red;
}

.assinatura {
    position: fixed;
    right: 5px;
    bottom:5px;
    color: rgb(146, 146, 146);
    font-size: 10px;
}

@media (min-width: 1020px) {
    .bottom-header .menu {
        grid-template-columns: auto auto auto auto;
    }
}

@media (min-width: 1250px) {
}