<div class="main-atendimento">
    <div style="border-bottom: 3px solid #fff;">
        <img style="width: 100%;" src="./libs/img/banner-consorcio.jpg" alt="Incubus">
    </div>
    <section class="consultor">
        <h3>Fale Comigo</h3>
        <div>
            <div class="profile">
                <img src="{{api + consultor.foto}}" alt="">
            </div>
            <div class="info">
                <a class="nome">{{consultor.nome}}</a>
                <a class="cargo">{{consultor.perfil | cargo}}</a>
                <a href="tel:{{consultor.celular}}" class="celular btn btn-default">
                    <i class="fa fa-phone"></i> 
                    {{consultor.celular | cel}}
                </a>
                <a href="https://api.whatsapp.com/send?phone=55{{consultor.celular}}&text=Ol%C3%A1%2C%20visitei%20seu%20site%20e%20gostaria%20de%20uma%20simula%C3%A7%C3%A3o" class="celular btn btn-default">
                    <i class="fa fa-whatsapp"></i> 
                    Whatsapp
                </a>
                <a href="mailto:{{consultor.email}}" class="celular btn btn-default">
                    <i class="fa fa-envelope"></i> 
                    {{consultor.email}}
                </a>
            </div>
        </div>
    </section>
    <section class="simulacao">
        <h3>Solicite uma Simulação</h3>
        <!-- <input ion-range-slider ng-model="someNumber" range-options="{min: 25000, max: 100000, step: 500, type: 'single', 
        hasGrid: true, prefix: 'R$ ', from: 25000, skin: 'big'}"> -->
        <a class="btn btn-default" ng-click="simulacao('AUTOMOVEL')">
            <i class="fa fa-car"></i>
            Automóveis
        </a>
        <a class="btn btn-default" ng-click="simulacao('IMOVEL')">
            <i class="fa fa-home"></i>
            Imóveis
        </a>
        <a class="btn btn-default" ng-click="simulacao('MOTO')">
            <i class="fa fa-motorcycle"></i>
            Motos
        </a>
        <a class="btn btn-default" ng-click="simulacao('SERVICO')">
            <i class="fa fa-cog"></i>
            Serviços
        </a>
        <a class="btn btn-default" ng-click="simulacao('PESADO')">
            <i class="fa fa-truck"></i>
            Pesados
        </a>
    </section>
    <section class="informativos">
        <h3>Informativos</h3>
        <a class="btn btn-default" ng-click="informativo('comofunciona')">Como Funciona</a>
        <a class="btn btn-default" ng-click="informativo('vantagens')">Quais as Vantagens</a>
    </section>
    <section class="social">
        <h3>Redes Sociais</h3>
        <a href="https://www.facebook.com/raquelconsultoradevendas/?ref=aymt_homepage_panel&eid=ARCPHmON0KQSu7cyKgW2Kuo5_6m5ARE3PxLwZFOpVQ-uVE9m9pB8d6diIk-yVzPuTh61EpbZbp1t0tKL"
            target="_blank" class="btn btn-default">
            <i class="fa fa-facebook"></i>
            Facebook
        </a>
        <a href="https://www.instagram.com/raquelqueiroz84/" target="_blank" class="btn btn-default">
            <i class="fa fa-instagram"></i>
            Instagram
        </a>
    </section>
    <section class="localizacao">
        <h3>Horário de Funcionamento</h3>
        <a class="endereco"> Seg. à Sex. de 08:00h às 18:00h</a>
    </section>
    <section class="localizacao">
        <h3>Faça uma Visita</h3>
        <a class="endereco">
            <i class="fa fa-map-marker"></i>
            R. Jorge Veiga, 17 - Eldorado, Manaus - AM, 69050-380
        </a>
        <div class="como-chegar ">
            <a class="btn btn-default" ng-click="rota()">Veja Como Chegar</a>
        </div>
        <div id="map" style="height:400px;padding: 10px 0px 11px 0px;" class="leaflet-control-zoom"></div>
    </section>
</div>