<div ng-controller="consultor_clienteCtrl">
    <section>
        <div style="display: flex;">
            <input type="text" class="form-control" ng-model="filtro" placeholder="Filtro">
            <input type="tel" class="form-control" style="width:50px;" ng-model="pagination.limit" so-numeros>
            <!-- <button class="btn btn-default"><i class="fa fa-filter"></i></button> -->
            <button class="btn btn-default" ng-click="listarClientes()"><i class="fa fa-refresh"></i></button>
        </div>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('nome')">Nome</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('celular')">Celular</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('interesse')">Interesse</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('observacao')">Observação</td>
                        <td align="left" style="cursor: pointer;" ng-click="ordernar('status')">Status</td>
                        <!-- <td align="left">Ações</td> -->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in agendas | filter: filtro | orderBy:ordenador:reverse">
                        <td>{{obj.nome}}</td>
                        <td>{{obj.celular | cel}}</td>
                        <td>{{obj.interesse}}</td>
                        <td>
                            <textarea disabled=true style="width:200px; min-height: 60px; overflow: auto; resize: none; background: oldlace;" ng-if="obj.observacao.length>0">{{obj.observacao}}</textarea>
                            <span ng-if="obj.observacao.length<=0">NÃO INFORMADO</span>
                        </td>
                        <td>{{obj.status}}</td>
                        <!-- <td>{{obj.acoes}}</td> -->
                    </tr>
                </tbody>
                <tfoot >
                    <tr>
                        <td colspan="5">Ordenado por <b>{{ordenador}}</b></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </section>
</div>