<div ng-include="'app/views/common/header.html'"></div>
<section class="main-home">
    <div class="home-profile">
        <div class="top-profile">
            <div class="lado-esquerdo">
                <a>25</a>
                <a>Projetos</a>
            </div>
            <img class="imagem-profile" src="libs/img/profile.jpg" alt="">
            <div class="lado-direito">
                <a>43</a>
                <a>Amigos</a>
            </div>
        </div>
        <div class="bottom-profile">
            <a>Usuário Modelo</a>
            <a>Programador</a>
        </div>
    </div>
</section>