<div ng-include="'app/views/common/header.html'"></div>
<section class="main-home">
    <div class="home-profile">
        <div class="top-profile">
            <div class="lado-esquerdo">
                <a>25</a>
                <a class="descricao">Projetos</a>
            </div>
            <img class="imagem-profile" src="{{api+usuario.foto}}">
            <div class="lado-direito">
                <a>43</a>
                <a class="descricao">Amigos</a>
            </div>
        </div>
        <div class="bottom-profile">
            <a class="nome-profile">{{usuario.nome}}</a>
            <a class="descricao">{{usuario.ocupacao || 'Indefinido' }}</a>
        </div>
    </div>
</section>