<div class="container">
    <div class="login-panel">
        <!-- <img class="img" src="./libs/img/postit.png" alt="" srcset=""> -->
        <div class="titulo">
            <h1>GWA</h1>
            <small>Gerencimento Web de Atividades</small>
        </div>
        <form name="formCad" class="form">
            <div class="row">
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" placeholder="Insira seu email de acesso" ng-model="obj.email" ng-required="true">
                </div>
                <div class="col-md-12">
                    <label>Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Insira sua senha de acesso" ng-model="obj.senha" ng-required="true">
                </div>
            </div>
            <br>
            <button class="btn btn-default btn-lg btn-block" ng-click="logar(obj)" ng-disabled="formCad.$invalid">Acessar</button>
            <a class="inscreverse" href="#/registrar">Criar uma conta gratuitamente</a>
        </form>
    </div>
</div>