<div ng-include="'app/views/common/header.html'"></div>
<div class="main-projeto">
    <section class="bg-transparent w80x100">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Descrição</td>
                        <td>Data Criação</td>
                    </tr>
                    <tr ng-repeat="obj in projetos">
                        <td>{{obj.id}}</td>
                        <td>{{obj.nome}}</td>
                        <td>
                            <textarea class="textarea-table" readonly>{{obj.descricao}}</textarea>
                        </td>
                        <td>{{obj.datacadastro | datahora}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
</div>