<div ng-include="'app/views/common/header.html'"></div>
<div class="main-projeto">
    <section class="bg-transparent w80x100">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Descrição</td>
                        <td>Data Criação</td>
                    </tr>
                </thead>
            </table>
        </div>
    </section>
</div>