<div ng-include="'app/views/common/header.html'"></div>
<div class="main-projeto">
    <div class="header-projeto">
        <select class="select-projeto" ng-model="projeto" ng-options="obj as obj.nome for obj in projetos" ng-change="selecionaProjeto(obj)">
            <option value="">Selecione um projeto</option>
        </select>
    </div>
    <section class="box-blocos">
        <div>
            <h4>Detalhes</h4>
            <p ng-bind-html="projeto.descricao"></p>
        </div>
        <div>
            <h4>Atividades</h4>
            0
        </div>
    </section>
    <!-- <section class="bg-transparent w80x100">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nome</td>
                        <td>Descrição</td>
                        <td>Data Criação</td>
                    </tr>
                    <tr ng-repeat="obj in projetos">
                        <td>{{obj.id}}</td>
                        <td>{{obj.nome}}</td>
                        <td>
                            <textarea class="textarea-table" readonly>{{obj.descricao}}</textarea>
                        </td>
                        <td>{{obj.datacadastro | datahora}}</td>
                    </tr>
                </thead>
            </table>
        </div>
    </section> -->
</div>