<div class="container">
    <div class="login-panel">
        <!-- <img class="img" src="./libs/img/postit.png" alt="" srcset=""> -->
        <div class="titulo">
            <h1>GWA</h1>
            <small>Gerencimento Web de Atividades</small>
            <hr>
            <h3>Registrar-se</h3>
        </div>
        <form name="formCad" class="form">
            <div class="row" ng-if="!confirmar">
                <div class="col-md-12">
                    <label>Nome</label>
                    <input type="text" class="form-control" name="nome" ng-model="obj.nome" ng-required="true">
                </div>
                <div class="col-md-12">
                    <label>Email</label>
                    <input type="email" class="form-control" name="email" ng-model="obj.email" ng-required="true">
                </div>
                <div class="col-md-12">
                    <label>Senha</label>
                    <input type="password" class="form-control" name="senha1" ng-model="obj.senha1" ng-required="true">
                </div>
                <div class="col-md-12">
                    <label>Confirme a senha</label>
                    <input type="password" class="form-control" name="senha2" ng-model="obj.senha2" ng-required="true">
                </div>
            </div>
            <div class="row"  ng-if="confirmar">
                <div class="col-md-12">
                    <label>Insira o código de confirmação</label>
                    <input type="text" class="form-control" name="cod" ng-model="obj.cod" ng-required="true">
                </div>
            </div>
            <br>
            <button class="btn btn-default btn-lg btn-block" ng-click="salvar(obj)" ng-disabled="formCad.$invalid">Registrar</button>
            <a class="inscreverse" href="#/login">Já tenho uma conta</a>
        </form>
    </div>
</div>