<header>
    <div class="top-header">
        <a class="icone" ng-click="toogleMenu()"><i class="fa fa-th"></i></a>
        <a class="titulo">{{titulo}}</a>
        <div class="profile" ng-click="clickProfileHeader()">
            <a class="nome-profile">{{usuario.email}}</a>
            <div class="imagem-profile">
                <img src="libs/img/profile2.jpg">
            </div>
        </div>
        <div class="menu-profile">
            <a href="#/meusdados">
                <i class="fa fa-user-o"></i>
                Perfil
            </a>
            <a ng-click="logout()">
                <i class="fa fa-power-off"></i>
                Sair
            </a>
        </div>
    </div>
    <div class="bottom-header">
        <!-- <div class="menu-titulo">
            <a ng-click="toogleMenu()"><i class="fa fa-close"></i></a>
        </div> -->
        <div class="menu">
            <a ng-repeat="obj in menus" ng-class="{'active': obj.active}" ng-click="toogleMenu()" href="#/{{obj.url}}">
                <i ng-class="obj.icone"></i>
                {{obj.nome}}
            </a>
        </div>
        <!-- <a class="botao-menu" ng-click="toogleMenu()"><i class="fa fa-th"></i></a> -->
    </div>
</header>
<div class="space"></div>
