<header>
    <div class="top-header">
        <a class="icone" ng-click="toogleMenu()"><i class="fa fa-th"></i></a>
        <a class="titulo">{{titulo}}</a>
        <div class="profile">
            <a class="nome-profile">usuariomodelo@email.com</a>
            <div class="imagem-profile">
                <img src="libs/img/profile.jpg">
            </div>
        </div>
    </div>
    <div class="bottom-header">
        <!-- <div class="menu-titulo">
            <a ng-click="toogleMenu()"><i class="fa fa-close"></i></a>
        </div> -->
        <div class="menu">
            <a class="active">
                <i class="fa fa-home"></i>
                Home
            </a>
            <a>
                <i class="fa fa-book"></i>
                Projetos
            </a>
            <a>
                <i class="fa fa-user"></i>
                Amigos
            </a>
            <a>
                <i class="fa fa-bell"></i>
                Alertas
            </a>
        </div>
        <!-- <a class="botao-menu" ng-click="toogleMenu()"><i class="fa fa-th"></i></a> -->
    </div>
</header>
<div class="space"></div>
